In [2]:
import numpy as np
import pandas as pd

In [3]:
s=pd.Series(np.random.randint(0,1000,100))

In [4]:
s.head()

0    536
1     73
2    526
3    229
4    126
dtype: int32

In [13]:
%%timeit -n 15
s=pd.Series(np.random.randint(0,1000,100000))
s+=2

15 loops, best of 3: 1.3 ms per loop

In [14]:
s=pd.Series(['python','apple','arrow'],index=['snake','fruit','fav'])

In [16]:
for label,value in s.iteritems():
    print label,value

snake python
fruit apple
fav arrow

In [20]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3],['store1','store2','store3'])
df.head()

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [21]:
df2=pd.DataFrame(df,index=['store1','store2','store2'])

In [22]:
df2

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store2   2.5   Kitty Litter  Kevyn

In [25]:
print df.index
print df2.index

Index([u'store1', u'store2', u'store3'], dtype='object')
Index([u'store1', u'store2', u'store2'], dtype='object')

In [26]:
print df2.loc['store2']

        Cost Item Purchased   Name
store2   2.5   Kitty Litter  Kevyn
store2   2.5   Kitty Litter  Kevyn

In [27]:
type(df2.loc['store2'])

pandas.core.frame.DataFrame

In [29]:
type(df2.loc['store1'])

pandas.core.series.Series

In [30]:
print df.loc['store1']

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: store1, dtype: object

In [31]:
df.loc['store1','Cost']

22.5

In [32]:
df

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [33]:
df.T

                  store1        store2     store3
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [34]:
df['Cost']

store1    22.5
store2     2.5
store3     5.0
Name: Cost, dtype: float64

In [35]:
type(df['Cost'])

pandas.core.series.Series

In [40]:
df.loc['store1','Cost']=56

In [41]:
df

        Cost Item Purchased   Name
store1  56.0       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [42]:
df.loc[:,['Item Purchased','Name']]

       Item Purchased   Name
store1       Dog Food  Chris
store2   Kitty Litter  Kevyn
store3      Bird Seed  Vinod

In [43]:
df.drop('store1')

        Cost Item Purchased   Name
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [44]:
df

        Cost Item Purchased   Name
store1  56.0       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [45]:
df.drop('store1',inplace=True)

In [46]:
df

        Cost Item Purchased   Name
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [52]:
df.rename?

In [50]:
df2=pd.DataFrame({"A":[1,2,3],'B':[4,5,6]},index=['a','b','c'])

In [51]:
df2

   A  B
a  1  4
b  2  5
c  3  6

In [54]:
df2.rename(columns={'A':'a1','B':'b2'})

   a1  b2
a   1   4
b   2   5
c   3   6

In [55]:
df2.rename(index={'a':'1'})

   A  B
1  1  4
b  2  5
c  3  6

In [56]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3],['store1','store2','store3'])
df.head()

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [59]:
df[df['Cost']>10].loc[:,'Cost']+=2

c:\python27\lib\site-packages\pandas\core\indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [60]:
df

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [65]:
df[df['Cost']>10].loc[:,'Cost']+=2

In [66]:
df

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn
store3   5.0      Bird Seed  Vinod

In [74]:
df[['Cost','Name']]

        Cost   Name
store1  22.5  Chris
store2   2.5  Kevyn
store3   5.0  Vinod

In [76]:
df.loc[['store1','store2']]

        Cost Item Purchased   Name
store1  22.5       Dog Food  Chris
store2   2.5   Kitty Litter  Kevyn