In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
##object creation
s=pd.Series([0,1,'w',2,2,3,4,5,np.nan])
print s[8]
print s

nan
0      0
1      1
2      w
3      2
4      2
5      3
6      4
7      5
8    NaN
dtype: object

In [3]:
##creating Frame object
dates=pd.date_range('20130101',periods=8)
print dates[0]
df=pd.DataFrame(np.random.randn(8,4),index=dates,columns=list("abcd"))
print df

2013-01-01 00:00:00
                   a         b         c         d
2013-01-01 -1.150656  0.828343  1.655891  1.192120
2013-01-02 -0.570243  1.349914 -1.227829  0.281959
2013-01-03  0.946194  0.051640 -0.420144 -0.716718
2013-01-04  0.056751 -0.009558 -0.418478  0.979505
2013-01-05 -2.260018 -0.709867 -0.891821  0.541225
2013-01-06 -2.298837  1.111650  0.748999  0.200979
2013-01-07 -0.998211  2.562509  0.164490 -0.553440
2013-01-08  0.412764 -0.062489  0.331883 -0.774217

In [4]:
df2=pd.DataFrame({
        "A":1,
        "B":2,
        "C":range(4),
        "D":[1,2,2,2]
    })
print df2

   A  B  C  D
0  1  2  0  1
1  1  2  1  2
2  1  2  2  2
3  1  2  3  2

In [5]:
df.<TAB>

SyntaxError: invalid syntax (<ipython-input-5-8b5fccb86f33>, line 1)

In [6]:
%config IPCompleter.greedy=True

In [7]:
df.head()

                   a         b         c         d
2013-01-01 -1.150656  0.828343  1.655891  1.192120
2013-01-02 -0.570243  1.349914 -1.227829  0.281959
2013-01-03  0.946194  0.051640 -0.420144 -0.716718
2013-01-04  0.056751 -0.009558 -0.418478  0.979505
2013-01-05 -2.260018 -0.709867 -0.891821  0.541225

In [8]:
df.tail()

                   a         b         c         d
2013-01-04  0.056751 -0.009558 -0.418478  0.979505
2013-01-05 -2.260018 -0.709867 -0.891821  0.541225
2013-01-06 -2.298837  1.111650  0.748999  0.200979
2013-01-07 -0.998211  2.562509  0.164490 -0.553440
2013-01-08  0.412764 -0.062489  0.331883 -0.774217

In [9]:
print df.index
print df.columns
print df.values
print df2.describe()

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')
Index([u'a', u'b', u'c', u'd'], dtype='object')
[[-1.15065585  0.82834273  1.65589116  1.19212002]
 [-0.57024341  1.34991407 -1.22782911  0.28195924]
 [ 0.94619369  0.0516404  -0.42014431 -0.71671838]
 [ 0.05675061 -0.00955848 -0.41847797  0.97950494]
 [-2.26001798 -0.70986729 -0.8918214   0.5412254 ]
 [-2.29883664  1.11164988  0.74899909  0.20097851]
 [-0.99821088  2.56250891  0.16448973 -0.55344017]
 [ 0.4127643  -0.06248889  0.33188253 -0.77421713]]
         A    B         C     D
count  4.0  4.0  4.000000  4.00
mean   1.0  2.0  1.500000  1.75
std    0.0  0.0  1.290994  0.50
min    1.0  2.0  0.000000  1.00
25%    1.0  2.0  0.750000  1.75
50%    1.0  2.0  1.500000  2.00
75%    1.0  2.0  2.250000  2.00
max    1.0  2.0  3.000000  2.00

In [10]:
##transpose
print df2.T

   0  1  2  3
A  1  1  1  1
B  2  2  2  2
C  0  1  2  3
D  1  2  2  2

In [11]:
df2.sort_index(axis=1,ascending=False)

   D  C  B  A
0  1  0  2  1
1  2  1  2  1
2  2  2  2  1
3  2  3  2  1

In [12]:
df2.sort_values(by="C",ascending=False)

   A  B  C  D
3  1  2  3  2
2  1  2  2  2
1  1  2  1  2
0  1  2  0  1

In [13]:
##selection
print df2["A"]

0    1
1    1
2    1
3    1
Name: A, dtype: int64

In [14]:
df2[0:3]

   A  B  C  D
0  1  2  0  1
1  1  2  1  2
2  1  2  2  2

In [15]:
df[0:2]

                   a         b         c         d
2013-01-01 -1.150656  0.828343  1.655891  1.192120
2013-01-02 -0.570243  1.349914 -1.227829  0.281959

In [16]:
df[dates[0]:dates[3]]

                   a         b         c         d
2013-01-01 -1.150656  0.828343  1.655891  1.192120
2013-01-02 -0.570243  1.349914 -1.227829  0.281959
2013-01-03  0.946194  0.051640 -0.420144 -0.716718
2013-01-04  0.056751 -0.009558 -0.418478  0.979505

In [17]:
df.loc[dates[0]]

a   -1.150656
b    0.828343
c    1.655891
d    1.192120
Name: 2013-01-01 00:00:00, dtype: float64

In [18]:
df.loc[dates[0]:dates[3],['a','b','d']]

                   a         b         d
2013-01-01 -1.150656  0.828343  1.192120
2013-01-02 -0.570243  1.349914  0.281959
2013-01-03  0.946194  0.051640 -0.716718
2013-01-04  0.056751 -0.009558  0.979505

In [19]:
df.loc[dates[0],'a']
df.at[dates[0],'a']

-1.1506558537533409

In [20]:
##using ilocation
df.iloc[0:3,1:3]

                   b         c
2013-01-01  0.828343  1.655891
2013-01-02  1.349914 -1.227829
2013-01-03  0.051640 -0.420144

In [21]:
df.iloc[0,0]

-1.1506558537533409

In [22]:
df.iloc[[0,2,3],[1,2,3]]

                   b         c         d
2013-01-01  0.828343  1.655891  1.192120
2013-01-03  0.051640 -0.420144 -0.716718
2013-01-04 -0.009558 -0.418478  0.979505

In [23]:
print df2

   A  B  C  D
0  1  2  0  1
1  1  2  1  2
2  1  2  2  2
3  1  2  3  2

In [29]:
table=pd.pivot_table(df2,index=['A','D'])
print table

     B  C
A D
1 1  2  0
  2  2  2

In [31]:
pd.pivot_table(df2,index=['A','B'],values=['C'])

       C
A B
1 2  1.5